@import url("https://fonts.googleapis.com/css2?family=Actor&family=Open+Sans:wght@300;600;700&family=Poppins:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

p, label {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Actor", sans-serif;
  background-color: transparent;
  border-color: transparent;
}

header, footer {
  background-color: #b2cfd9;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.iconXL {
  width: 64px;
  object-fit: cover;
}

.iconMD {
  width: 32px;
  object-fit: cover;
}

.iconXS {
  width: 16px;
  object-fit: cover;
}

footer form > div, footer form, footer > div, .llamadaALaAccion > div, .presentacionIndex, header .navbar-expand-lg .flex-end {
  display: flex;
}

header {
  background-color: #b2cfd9;
}
header .navbar-expand-lg {
  font-family: "Actor", sans-serif;
}
@media only screen and (max-width: 900px) {
  header .navbar-expand-lg span {
    display: none;
  }
}
header .navbar-expand-lg a {
  color: #4b8598;
}
header .navbar-expand-lg .aInteraccion {
  transition: all 0.5s;
}
header .navbar-expand-lg .aInteraccion:hover {
  background: linear-gradient(to left, #b2cfd9, #e2ffff 80%, #b2cfd9);
}
header .navbar-expand-lg .aInteraccion:active {
  background: #e2ffff;
}
header .navbar-expand-lg i {
  color: #4b8598;
}
header .navbar-expand-lg button {
  background-color: transparent;
  border: 3px solid #90bac8;
  color: #90bac8;
  border-radius: 8px;
  transition: all 0.5s;
}
header .navbar-expand-lg button:active {
  background-color: darken #b2cfd9, 10px;
  border-color: #b2cfd9;
}
@media only screen and (min-width: 992px) {
  header .navbar-expand-lg button {
    display: none;
  }
}
header .navbar-expand-lg .flex-end {
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (max-width: 992px) {
  header .navbar-expand-lg .flex-end {
    flex-direction: column;
    align-items: center;
  }
}
header .navbar-expand-lg .flex-end li {
  width: 100%;
  text-align: center;
}
header .navbar-expand-lg .flex-end li .dropdown-menu {
  background-color: #b2cfd9;
  border: none;
}

.stickyIndex {
  display: inline-block;
  position: sticky;
  top: 112px;
  bottom: 1000px;
  left: 5%;
  background-color: #a0a6aa;
  border-radius: 50%;
  border: 2px solid #929a9e;
  box-shadow: 2px 2px 10px #a5a5a5;
  transition: all 0.5s;
}
.stickyIndex:active {
  background-color: #000000;
}
.stickyIndex i {
  padding: 6px;
  transition: all 0.5s;
}
.stickyIndex i:active {
  color: #a0a6aa;
}
.stickyIndex ul {
  background-color: #a0a6aa;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #a5a5a5;
}

footer form > div, footer form, footer > div, .llamadaALaAccion > div, .presentacionIndex, header .navbar-expand-lg .flex-end {
  display: flex;
}

.presentacionIndex {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 360px;
  text-align: left;
}
@media only screen and (min-width: 412px) {
  .presentacionIndex {
    background-image: url("../multimedia/homePresentacionDestkop.jpg");
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 412px) {
  .presentacionIndex {
    background-image: url("../multimedia/homePresentacionMobil.jpg");
    background-repeat: no-repeat;
  }
}
.presentacionIndex h1 {
  font-size: 1.2rem;
  word-wrap: wrap;
  color: #2e525e;
  padding: 24px 12px 8px 12px;
}
@media only screen and (min-width: 992px) {
  .presentacionIndex h1 {
    display: inline-block;
    font-size: 36px;
    line-height: 1.4em;
    padding-top: 54px;
    margin: 0px auto 12px 64px;
    width: 30%;
  }
}
.presentacionIndex p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #37606f;
  padding: 4px 12px;
  width: 80%;
}
@media only screen and (min-width: 992px) {
  .presentacionIndex p {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4em;
    padding-left: 64px;
    width: 50%;
  }
}
.presentacionIndex button {
  display: inline-block;
  margin: 12px;
}
@media only screen and (min-width: 992px) {
  .presentacionIndex button {
    padding-top: 12px;
    margin-left: 64px;
  }
}
.presentacionIndex button a {
  color: white;
}
.presentacionIndex .boton-solido {
  background-color: #4b8598;
  color: white;
  padding: 4px 8px;
  border-radius: 32px;
  transition: all 0.5;
}
.presentacionIndex .boton-solido:hover {
  border: 2px solid #508da2;
}
.presentacionIndex .boton {
  background-color: transparent;
  border: 3px solid #90bac8;
  color: #90bac8;
  padding: 4px 8px;
  border-radius: 32px;
}

.llamadaALaAccion article {
  margin: 8px 0px;
}
.llamadaALaAccion > div {
  flex-direction: column;
}
.llamadaALaAccion > div > div {
  display: inline-block;
  width: 80%;
  margin: 12px 32px;
}
.llamadaALaAccion > div > div p, .llamadaALaAccion > div > div em, .llamadaALaAccion > div > div strong, .llamadaALaAccion > div > div li {
  font-size: 0.8rem;
}

footer form > div, footer form, footer > div, header .navbar-expand-lg .flex-end, .presentacionIndex, .llamadaALaAccion > div {
  display: flex;
}

footer > div {
  width: 80%;
  margin: 16px auto;
  padding: 32px 0px 16px 0px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
footer > div strong {
  margin: 16px 0px;
}
footer form {
  flex-direction: column;
  align-items: center;
}
footer form button {
  background-color: #4b8598;
  color: white;
  margin: 16px auto 32px auto;
  padding: 8px 32px;
}
footer form > div {
  flex-direction: column;
  margin: 16px 0px;
  width: 90%;
}
footer form > div p {
  display: none;
}
footer form > div input {
  height: 56px;
}
footer form > div input:focus {
  border: 2px solid #508da2;
}
footer form > div input:invalid + p {
  display: inline-block;
  font-size: 8px;
  color: rgb(253, 53, 35);
  margin: 2px 56px;
}
footer form > div label {
  margin: 4px 32px;
}
footer form > div input, footer form > div textarea {
  width: 90%;
  margin: 4px auto;
}
footer form > div textarea {
  resize: none;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
