@import url("https://fonts.googleapis.com/css2?family=Actor&family=Open+Sans:wght@300;600;700&family=Poppins:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fdff;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

p, label {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Actor", sans-serif;
  background-color: transparent;
  border-color: transparent;
}

header, footer {
  background-color: #b2cfd9;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.iconXL {
  width: 64px;
  object-fit: cover;
}

.iconMD {
  width: 32px;
  object-fit: cover;
}

.iconXS {
  width: 16px;
  object-fit: cover;
}

footer form > div, footer form, footer > div, .llamadaALaAccion > div, .card .presentacionIndex {
  display: flex;
}

header {
  background-color: #b2cfd9;
}
header .navbar-expand-lg .container-fluid {
  font-family: "Actor", sans-serif;
}
header .navbar-expand-lg .container-fluid > .navbar-brand {
  margin-left: 16px;
}
header .navbar-expand-lg .container-fluid > .navbar-brand img {
  height: 32px;
}
@media only screen and (max-width: 744px) {
  header .navbar-expand-lg .container-fluid > .navbar-brand img {
    height: 16px;
  }
}
@media only screen and (max-width: 744px) {
  header .navbar-expand-lg .container-fluid > .navbar-brand span {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1300px) {
  header .navbar-expand-lg .container-fluid > .navbar-brand {
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1300px) {
  header .navbar-expand-lg .container-fluid > .navbar-brand {
    margin-right: 30%;
  }
}
header .navbar-expand-lg .container-fluid a {
  color: #4b8598;
}
header .navbar-expand-lg .container-fluid .aInteraccion {
  transition: all 0.5s;
}
header .navbar-expand-lg .container-fluid .aInteraccion:hover {
  background-color: #d4e4ea;
}
header .navbar-expand-lg .container-fluid .aInteraccion:active {
  background: white;
}
@media only screen and (min-width: 1300px) {
  header .navbar-expand-lg .container-fluid .navbar-nav li {
    margin: 0px 24px;
  }
}
header .navbar-expand-lg .container-fluid .navbar-nav li .nav-link {
  text-align: center;
}

footer form > div, footer form, footer > div, .llamadaALaAccion > div, .card .presentacionIndex {
  display: flex;
}

.stickyIndex {
  display: inline-block;
  position: sticky;
  top: 112px;
  bottom: 1000px;
  left: 5%;
  background-color: #7ad3ff;
  border-radius: 50%;
  border: 2px solid #60caff;
  box-shadow: 2px 2px 10px rgba(165, 165, 165, 0.0784313725);
  transition: all 0.5s;
}
.stickyIndex:active {
  background-color: #000000;
}
@media only screen and (min-width: 744px) {
  .stickyIndex {
    background-color: transparent;
    border-color: transparent;
    left: 24px;
  }
}
.stickyIndex i {
  padding: 6px;
  transition: all 0.5s;
}
.stickyIndex i:active {
  color: #7ad3ff;
}
.stickyIndex ul {
  background-color: #f4fbff;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(164, 164, 164, 0.4941176471);
}
@media only screen and (min-width: 744px) {
  .stickyIndex .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 744px) {
  .stickyIndex button {
    display: none;
  }
}

footer form > div, footer form, footer > div, .llamadaALaAccion > div, .card .presentacionIndex {
  display: flex;
}

.card img {
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .card img:first-child {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .card .backMD {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .card .backMD {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .card .backXL {
    display: none;
  }
}
.card .presentacionIndex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 812px;
  text-align: left;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .card .presentacionIndex {
    top: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .card .presentacionIndex {
    left: 32px;
    align-items: flex-start;
  }
}
.card .presentacionIndex h1 {
  font-size: 2.1rem;
  font-weight: 900;
  color: #2e525e;
  padding: 24px 12px 8px 12px;
  width: 90%;
}
@media only screen and (min-width: 992px) {
  .card .presentacionIndex h1 {
    display: inline-block;
    font-size: 3em;
    line-height: 1.4em;
    padding-top: 54px;
    margin: 0px auto 12px 32px;
    width: 50%;
  }
}
.card .presentacionIndex p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #37606f;
  padding: 4px 12px;
  width: 90%;
  margin: 32px 0px;
}
@media only screen and (min-width: 992px) {
  .card .presentacionIndex p {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4em;
    margin-left: 20px;
    width: 50%;
  }
}
.card .presentacionIndex button {
  display: inline-block;
  margin: 12px;
}
@media only screen and (min-width: 992px) {
  .card .presentacionIndex button {
    padding-top: 12px;
    margin-left: 32px;
  }
}
.card .presentacionIndex button a {
  color: white;
}
.card .presentacionIndex .boton-solido {
  background-color: #4b8598;
  color: white;
  padding: 4px 8px;
  border-radius: 32px;
  transition: all 0.5;
}
.card .presentacionIndex .boton-solido:hover {
  border: 2px solid #508da2;
}
.card .presentacionIndex .boton {
  background-color: transparent;
  border: 3px solid #4b8598;
  color: #4b8598;
  padding: 4px 8px;
  border-radius: 32px;
}

.llamadaALaAccion article {
  margin: 8px 0px;
}
.llamadaALaAccion > div {
  flex-direction: column;
}
@media only screen and (min-width: 774px) and (max-width: 1300px) {
  .llamadaALaAccion > div {
    margin-left: 216px;
  }
}
@media only screen and (min-width: 1300px) {
  .llamadaALaAccion > div {
    margin: 32px auto;
    width: 60%;
  }
}
.llamadaALaAccion > div > div {
  display: inline-block;
  width: 80%;
  margin: 12px 32px;
}
.llamadaALaAccion > div > div p, .llamadaALaAccion > div > div em, .llamadaALaAccion > div > div strong, .llamadaALaAccion > div > div li {
  font-size: 0.8rem;
}

footer form > div, footer form, footer > div, .card .presentacionIndex, .llamadaALaAccion > div {
  display: flex;
}

@media only screen and (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    justify-items: center;
  }
}
footer > div {
  width: 80%;
  margin: 16px auto;
  padding: 32px 0px 16px 0px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
footer > div strong {
  margin: 16px 0px;
}
footer form {
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1000px) {
  footer form {
    width: 80%;
  }
}
footer form button {
  background-color: #4b8598;
  color: white;
  margin: 16px auto 32px auto;
  padding: 8px 32px;
}
footer form > div {
  flex-direction: column;
  margin: 16px 0px;
  width: 90%;
}
footer form > div p {
  display: none;
}
footer form > div input {
  height: 56px;
}
footer form > div input:focus {
  border: 2px solid #508da2;
}
footer form > div input:invalid + p {
  display: inline-block;
  font-size: 8px;
  color: rgb(253, 53, 35);
  margin: 2px 56px;
}
footer form > div label {
  margin: 4px 32px;
}
footer form > div input, footer form > div textarea {
  width: 90%;
  margin: 4px auto;
}
footer form > div textarea {
  resize: none;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
