@import "../base/vars";
@mixin fondoImgXL($img) {
    background-image: url("../multimedia/#{$img}.jpg");
    background-repeat: no-repeat;
}
@mixin fondoImgMD($img){
    background-image: url("../multimedia/#{$img}.jpg");
    background-repeat: no-repeat;
}
@mixin fondoImgXS($img) {
    background-image: url("../multimedia/#{$img}.jpg");
    background-repeat: no-repeat;
}