@import "../base/vars";
@import "../partials/button";
@import "../partials/extends";
header{
    background-color: $color-base;
    .navbar-expand-lg{
        span{
            @media only screen and(max-width:900px){
                display: none;
            }
        }
        font-family: 'Actor', sans-serif;
        a{
            color: nth($color-palete, 1 );
        }
        .aInteraccion{
            transition: all .5s;
            &:hover{
                background: linear-gradient(to left,$color-base,lighten(nth($color-palete, 2 ), 10%) 80%,$color-base) ;
            }
            &:active{
                background: lighten(nth($color-palete, 2 ), 10%);
            }
        }
        i{
            color: nth($color-palete,1 );
        }
        button{
            @include buttonTransparent(darken($color-base,10%));
            border-radius:8px;
            transition: all .5s;
            &:active{
                background-color: darken ($color-base,10px);
                border-color:$color-base;
            }
            @media only screen and(min-width:992px){
                display: none;
            }
        }
        .flex-end{
            margin: auto;
            @extend %flex;
            flex-direction: row;
            justify-content: space-evenly;
            @media only screen and (max-width:992px){
                flex-direction: column;
                align-items: center;
            }
            li{
                width: 100%;
                text-align: center;
                .dropdown-menu{
                    background-color: $color-base;
                    border:none;
                }
            }
        }
    }
}
