@import "../base/vars";
@import "../partials/button";
header{
    background-color: $color-base;
    .navbar-expand-lg{
        span{
            @media only screen and(max-width:900px){
                display: none;
            }
        }
        font-family: 'Actor', sans-serif;
        a{
            color: nth($color-palete, 1 );
        }
        i{
            color: nth($color-palete,1 );
        }
        button{
            @include buttonTransparent(darken($color-base,10%));
            border-radius:8px;
            transition: all .5s;
            &:active{
                background-color: darken ($color-base,10px);
                border-color:$color-base;
            }
            @media only screen and(min-width:992px){
                display: none;
            }
        }
        .flex-end{
            margin: auto 24px auto auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @media only screen and (max-width:992px){
                flex-direction: column;
                align-items: center;
            }
            li{
                margin: auto 16px;
            }
        }
    }
}
